<div class='row'>
    <div class='col-md-8 col-md-offset-2'>
        <div class='jumbotron'>
            <h1>Välkommen hem!</h1>
            <p>Nya kvadrat är den smidiga vägen till din drömlägenhet.</p>
            <p><a class='btn btn-primary btn-lg' href='#' role='button'>Läs mer</a></p>
        </div>
    </div>
</div>



  