@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
   background-color: transparent;
   background: transparent;
   border: 0 !important;
    box-shadow: none !important;
}

.navbar li { color: #000 } 

.bgWelcome {
    height: 520px;
    background-image: url('int1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    
}



.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}

.jumbotron{
    margin: 40px 0 36px;
    padding: 10px 5px 10px 5px;
    background: rgba(255, 250, 250, .5);
    color: black;
}