<div class='navbar transparent navbar-default navbar-static-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <%= link_to 'Nya kvadrat', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="list-inline pull-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-default navbar-btn" %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path, class: "btn btn-default navbar-btn" %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default navbar-btn" %></li>
      <% end %>
    </ul>
  </div>
</div>