<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  
<div class="bgWelcome container-fluid">
    
  <%= render 'layouts/navbar'%>
    
  <body>
    <%= yield %>
  </body>
  
</div>
    
</html>
